@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{

}

header{

}

h1{
    margin: 20px 5px;
} 

h1#titulo{
    margin-top: 150px;
}

nav#menu{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

main{

}

@media screen and (min-width: 768px) and (max-width: 992px){ /* TABLETS */
    article#imagem-s{
       background-image: url(../imagens/people-smile.jpg);
       background-repeat: no-repeat;
       background-position: cover;
       height: 600px;
       width: 600px;
    }
    
}

@media screen and (min-width: 992px) and (max-width: 1200px){/* LAPTOPS */

}

@media screen and (min-width: 1400px){ /* DESKTOPS AND LARGE SCREENS */

}